# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Environments
.venv/
venv/
env/
ENV/

# Secrets / env files
.env

# Notebooks / checkpoints
.ipynb_checkpoints/

# Data / artifacts
data/production/
*.pkl
*.joblib

# IDE / OS
.vscode/
.DS_Store

# Logs
*.log
.env
